
<app-bar-chart [stateCounts]="stateCounts"></app-bar-chart>

<div class="container mt-4">
  <div class="mb-3 d-flex align-items-center">
    <button
      class="btn btn-secondary filter-button"
      [ngClass]="{'active': selectedFilter === 'Contact mode'}"
      (click)="filterByState('Contact mode')">
      Contact mode
    </button>
    <button
      class="btn btn-secondary filter-button"
      [ngClass]="{'active': selectedFilter === 'Initial interest'}"
      (click)="filterByState('Initial interest')">
      Initial interest
    </button>
    <button
      class="btn btn-secondary filter-button"
      [ngClass]="{'active': selectedFilter === 'First Intro meeting'}"
      (click)="filterByState('First Intro meeting')">
      First Intro meeting
    </button>
    <button
    class="btn btn-secondary filter-button"
      [ngClass]="{'active': selectedFilter === 'Follow up meeting'}"
      (click)="filterByState('Follow up meeting')">
      Follow up meeting
    </button>
    <button
    class="btn btn-secondary filter-button"
      [ngClass]="{'active': selectedFilter === 'Workshop stage'}"
      (click)="filterByState('Workshop stage')">
      Workshop stage
    </button>
  </div>
  <div class="mb-3 d-flex align-items-center">
    <h4 class="recently-added ml-auto mb-0">Recently Added</h4>
  <input
    type="text"
    class="form-control custom-search"
    [(ngModel)]="searchText"
    (input)="onSearch(searchText)" 
    placeholder="Search Leads">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Lead name</th>
        <th>Date added</th>
        <th>Current state</th>
        <th>Probability</th>
        <th>Team size</th>
        <th>Location</th>
        <th>Revenue</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedData">
        <td>{{ item.lead_name }}</td>
        <td>{{ item.date_added }}</td>
        <td>{{ item.current_state }}</td>
        <td>
          <div [ngClass]="{'high-probability': item.probability === 'High', 'medium-probability': item.probability === 'Medium', 'low-probability': item.probability === 'Low'}" class="probability-pill">
            {{ item.probability }}
          </div>
        </td>
        <td>{{ item.team_size }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.revenue }}</td>
        <td>{{ item.category }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary view-all-button">View All</button>
  </div>
</div>



  
  

  



  
