

.filter-button {
  background-color: whitesmoke;
  border: none;
  margin-right: 25px;
  color: black;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  padding: 20px 25px; 
  font-size: 23px; }

.filter-button.active {
  background-color: #007bff;
  color: white;
  font-size: 25px;
}

.tracker-button {
  background-color: whitesmoke;
  border: none;
  margin-right: 25px;
  color: black;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  padding: 5px 10px; 
  border-radius: 20px;
  font-size: 15px; }

.tracker-button.select {
  background-color: #007bff;
  color: white;
  font-size: 15px;
}

.custom-search {
    max-width: 200px;
    border-radius: 20px; 
  }

  .recently-added {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:  sans-serif;
  }
  

  .probability-pill {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .high-probability {
    background-color: rgb(166, 209, 166);
    color: rgb(7, 104, 15);
    font-size: 15px;
    font-weight: normal;
  }
  
  .medium-probability {
    background-color: rgb(255, 194, 205);
    color: rgb(209, 69, 97);
    font-size: 15px;
    font-weight: normal;
  }
  
  .low-probability {
    background-color: rgb(245, 120, 120);
    color: rgb(181, 19, 19);
    font-size: 15px;
    font-weight: normal;
  }

  .recently-added {
    margin-right: 20px; 
  }
  
  .view-all-button {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-weight: bold;
    text-align: center;
  
    &:hover {
      background-color: darkblue;
      color: white;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
  }



  .row {
    display: flex;
    justify-content: space-between; 
  }
  
  .chart-container {
    flex: 1; 
    max-width: 800%;
    margin: auto;
    height: 400px;
  }

 
  
  
  
  
  
  


  
  




  
  

  
  